{% extends "layout.html.jinja" %}
{% block title %}New Prediction{% endblock %}

{% block content %}
  <h1>Let's make a new prediction</h1>
  <form class="" action="">
    <label for="X"></label>
    <input type="text" name="X" class="form-control">
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
{% endblock %}
